/* h1{
    justify-content: center;
} */
.disabled{
    pointer-events: none;
}

.form-button{
    justify-content: center !important;
    align-content: center !important;
    margin: 0 auto;
    vertical-align: center !important;
}

.garbage{
    display: none;
}

.cal-container{
    padding-left: 5%;
    padding-right: 5%;
}

.green {
    color: rgb(98, 165, 173);
  }

.green:hover {
    background-color: #61e3ec;;
    color: white;
  }

.form-inline{
    justify-content: center;
}

.btn{
    margin-left: 10px !important;
}

.scaling-images{
    max-width: 10%;
}

/* .img {
    position: absolute;
    top: 13px;
    left: 20px;
} */

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: none;
}

.button {
    background-color: white;
    /* width: 30%;
    height: 30%; */
    /* color: green !important; */
    display: inline-block;
    margin: 0.1em;
    padding: .5em .3em;
    text-align: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    font-size: 13px;
    border: none;
  }
  
  
.header {
    padding: 2%; /* some padding */
    text-align: center; /* center the text */
    /* background: #A1FFCE;  */
    /* background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #FAFFD1, #A1FFCE); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black; /* text color */
  }

.header h1 {
    font-size: 45px;
    font-weight: 10;
    letter-spacing: 2px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
  
.header p {
    font-size: 15px;
    font-family: "Andale Mono", monospace;
    font-weight: 10;
}

/* .button {
    font-family: "Andale Mono", monospace;
    font-size: 20px;
    font-weight: 10;
    letter-spacing: 5px;
} */

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }

/* .navbar {
    overflow: hidden; 
    background-color: #333; 
}
   */
  /* .navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 36px 20px; 
    text-decoration: none; 
  } */

  


  .navbar a.right {
    font-family: "Andale Mono", monospace;
    float: right; /* Float a link to the right */
  }
  
  /* .navbar a:hover {
    background-color: rgb(241, 234, 234); 
    color: black; 
  } */

  .side {
    flex: 30%; 
    background-color: #333; 
    font-family: "Andale Mono", monospace;
    padding: 20px; 
    color: white;
  }
  
  /* Main column */
  .main {
    flex: 70%; 
    background-color: white; 
    font-family: "Andale Mono", monospace;
    padding: 20px; 
  }

  /* .col{
      margin: 0 auto !important;
  } */

/* .footer {
    padding: 20px; 
    text-align: center; 
    background: #333; 
} */

body{
    /* background: #A1FFCE;  /* fallback for old browsers */
    background: rgb(161,255,206);
    background: radial-gradient(circle, rgba(161,255,206,1) 0%, rgba(0,212,255,1) 100%); 

    /* background: rgb(255,191,219);
    background: radial-gradient(circle, rgba(255,191,219,1) 6%, rgba(228,164,224,1) 92%); */
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(233,148,228,1) 100%); */
  }
